{% extends 'base.html' %}

{% block content %}
<p>Last night, your {{pet}} ate your final project. It's not a lie. They really did. You had to do it all again overnight and the homework-drop-box is now closed! You have to go to Ms. Dragon's office to hand it to her in person. Unfortunately, her office is in a Dungeon!</p>
<p>P.S. Don't worry. Your {{pet}} spitted it all out. They're fine. Now, they're following you to the dungeon to protect you.</p>
<img src = {{url}}>
<a href = 1first> Get Started</a>

{% endblock %}