{% extends 'base.html' %}

{% block content %}

<h2>A golden key lies on the table in front of you.</h2>
<p>Before you can grab it. A cup fell down from the ceiling and covered it up, with 2 other cups that look exactly the same also falling onto the table.</p>
<p>Then, some swirling magical power began to shuffle the cups at a shocking speed.</p>
<p>You need to know which cup holds the key, or you cannot open the magically-locked door before you.</p>
<p>Or can you?</p>
<p>As we all know, cats are a kind of liquid. Your cat squeezed through the gap below the door. After a few seconds, the door opened.</p>
<p>Good Cat!!!!</p>

<a href = /5math> Continue</a>


{% endblock %}