{% extends 'base.html' %}

{% block content %}

<h2>A golden key lies on the table in front of you.</h2>
<p>Before you can grab it. A cup fell down from the ceiling and covered it up, with 2 other cups that look exactly the same also falling onto the table.</p>
<p>Then, some swirling magical power began to shuffle the cups at a shocking speed.</p>
<p>You need to know which cup holds the key, or you cannot open the magically-locked door before you.</p>
<form method = 'POST'>

    <input type="radio" name="selection" value="1">
    <label for="1">Look at the movement really carefully and remember every move.</label><br>
    <input type="radio" name="selection" value="2">
    <label for="2">Try to look for certain marks or scratches that are special on the cup with the key</label><br>


    <input type = 'submit'>
</form>

{% endblock %}