{% extends 'base.html' %}

{% block content %}


<p>You opened the door and walked inside.</p>
<p>You see a blue fire. Inside, there is a large shadow</p>
<p>"Welcome. </p>
<h4>I am the Math God</h4>
<p>of Middle School, High School, College, University, and Graduate School," he said.</p>

<p>"Show me that you're qualified, or I won't let you through!"</p>
<p>He was about to give you a math problem and let you solve it, just before he saw your dog!</p>
<p>He was totally charmed by your dog!</p>
<p>He totally forgot about giving you an exam. Yay!</p>

<a href = /6empty> Continue</a>
{% endblock %}