{% extends 'base.html' %}

{% block content %}


<p>You opened the door and walked inside.</p>
<p>You see a blue fire. Inside, there is a large shadow</p>
<p>"Welcome. </p>
<h4>I am the Math God</h4>
<p>of Middle School, High School, College, University, and Graduate School," he said.</p>

<p>"Show me that you're qualified, or I won't let you through!"</p>
<p>He takes out a piece of paper and starts scribbling on it. He hands it to you, letting you solve the problem.</p>

<form method = 'POST'>

    <input type="radio" name="selection" value="1">
    <label for="1">Just do the math!</label><br>
    <input type="radio" name="selection" value="2">
    <label for="2">Hand in some random numbers. While he're checking them, try to sneak past him.</label><br>
    <input type="radio" name="selection" value="3">
    <label for="3">Try to fight him!</label><br>


    <input type = 'submit'>
</form>

{% endblock %}