{% extends 'base.html' %}

{% block content %}


<p>You walked into an empty room. It's a bit dark, but you seem to be kind of lucky because there aren't anything that seem to be stopping you in this room... Or are there?</p>
<p>You seem to be hearing some noises now... Voices that sounds like Aoooiiieeeeea1190`~~?</p>
<p>It's probably just in your mind.</p>

<form method = 'POST'>

    <input type="radio" name="selection" value="1">
    <label for="1">Keep going. Her office is right in front of you!</label><br>
    <input type="radio" name="selection" value="2">
    <label for="2">Investigate the room</label><br>
    


    <input type = 'submit'>
</form>


{% endblock %}