{% extends 'base.html' %}

{% block content %}

<p>When you entered the room, Ms Dragon was sleeping.</p>
<p>She kinda snored fire into your way, but you came such a long way and there's no way to give up!!!</p>

<p>You sneaked the project into her pile of projects and left.</p>
<h1>Congratulations! You completed the Big Final Adventure!</h1>
<p>At last, maybe you got an A or a B, maybe you didn't.</p>
<p>We won't really know.</p>
<p>This adventure will just be a piece of your memory as you venture into the future.</p>
<p>Luckily, you have your {{pet}} by your side. Let's hope they don't eat anything important in the future.</p>

{% endblock %}