{% extends 'base.html' %}

{% block content %}
<div style = 'background-color: black; color: aliceblue;'>
<p>As you investigate, more and more whispers begin to fill in your ears.</p>
<p>Darkness climbs into your eyes, trying to take over your thoughts.</p>
<h5>And your brains.</h5>

<p>Maybe everything is fake.</p>
<p>Maybe everything is nothing.</p>
</div>
<p>When you were about to get distracted, you saw the cute face of your {{pet}}.</p>
<p>You quickly realized that these are just voices in your head. You can't believe that you're thinking this nonsense!</p> 

<p>You calmed down and start investigating carefully.</p>
<h3>You quickly found a chest full of gold coins resting under a floor panel!!!</h3>
<p>You also handed in your project in time, but that doesn't really matter cuz you can now live a beautiful life even if you don't graduate from school.</p>
<p>But you'll still do that, right?</p>

{% endblock %}